:root {
	--background: #e8f9fd;
	--primary: #191347;
	--secondary: #ed1c24;
	--shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	box-sizing: border-box;
	background-color: white;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
